body {
  font-family: sans-serif;
}

.mpc {
  margin: 30px;
}

.pads {
  width: 70%;
  margin: 0 auto;
}

.pads li {
  display: inline-block;
  background: #999;
  padding: 4em;
}

.pads li:active {
  background: #ccc;
}

#playSong {
  padding: 1em 2em;
  background: #00ac38;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}